.container {
  width: 100%;
  max-width: 100%;
  min-width: 25%;
  background-color: rgba(228, 177, 138, 0.857);
  border-radius: 5px;
}

/* 
@media (max-width: 770px) {
  .container {
    width: 100%;
  }
  .image {
    width: 100%;
  }
} */
