.cards {
    background-color: rgba(210, 255, 187, 0.837);
    width: 675px;
    height: 330px;
    margin-top: 10px;
    overflow: auto;
}

.dialog {
    background-color: rgba(210, 255, 187, 0.871);
}
