.footer {
    color: white;
    width: 300px;
    border: 2px solid white;
    border-radius: 5px;
    border-style: double;
    border-width: 15px;
    margin: 50px;
    padding: 100px;
    width:75%;
}

a:link {color: #A5C8E4;}
a:visited {color:#F6A8A6;}
a:hover {color:#FFEEA5;}