body {
  background-image: url(images/itl.cat_2560x1440-wallpaper_2855828.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(238, 205, 161);
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.charts {
  display: flex;
  justify-content: center;

}

.cards {

}

.picker{
  display: flex;
  justify-content: center;

}

.image {
  width: 370px;
  margin-top: 50px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}

.item{
  display : flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 500px;
}
