.icon-marker {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: white;
	width: 3.6em;
	height: 3.6em;
	font-size: .7em;
	font-weight: bold;
	background-color: rgb(118, 30, 30);
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.icon-marker:hover .icon-marker-tooltip {
	display: block;
}

.icon-marker-tooltip {
	display: none;
	position: absolute;
	bottom: 100%;
	width: 16em;
	font-size: 1.4em;
	padding: 1em;
	background-color: rgb(40, 40, 133);
	border-radius: .4em;
	margin-bottom: 1em;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
}

.icon-marker-tooltip:before {
	display: block;
	position: absolute;
	bottom: -.6em;
	left: 50%;
	content: '';
	width: 1.4em;
	height: 1.4em;
	background-color: blue;
	transform: rotate(45deg);
	margin-left: -.7em;
}

.icon-marker-tooltip h2 {
	font-size: 1.5em;
	line-height: 1.2;
	margin-bottom: .1em;
	margin-top: 0;
}

.icon-marker-tooltip h3 {
	font-size: 1.2em;
	margin: .1em 0;
	font-weight: normal;
	color: blue;
}

.icon-marker-tooltip ul,
  .icon-marker-tooltip p {
	font-weight: normal;
}

.icon-marker-tooltip ul {
	list-style: none;
	padding: 0;
	margin: .6em 0 0;
}

.icon {
	justify-content: center;
	align-items: center;
	color: white;
	width: 3.6em;
	height: 3.6em;
	font-size: .7em;
	font-weight: bold;
	background-color: rgb(118, 30, 30);
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.flag-popup {
	width: 30px;
	height: 20px;
	margin-left: 10px;
}