
.icon {
	justify-content: center;
	align-items: center;
	width: 3.6em;
	height: 3.6em;
	background-color: rgb(118, 30, 30);
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.flag-popup {
	width: 30px;
	height: 20px;
	margin-left: 10px;
}

.toolTip {
	background-color: rgb(255, 218, 137);
	margin: 0;
}

.h2mem {
	text-align: center;
}